{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
  <div class="new-button-wrapper">
    <a href="{% url new_post %}" class="btn btn-primary pull-right new-button">
      <i class="icon-plus icon-white"></i> New post
    </a>
  </div>
{% endif %}

<div class="posts">
  {% for post in posts.object_list %}
    <div class="post">
      {% include "blog/post_fragment.html" %}

      {% if not forloop.last %}
        <hr />
      {% endif %}
    </div>
  {% endfor %}

  <ul class="pager">
    {% if posts.has_next %}
      <li class="previous">
        <a href="{% url post_archive posts.next_page_number %}">&larr; Older</a>
      </li>
    {% endif %}
    {% if posts.has_previous %}
      <li class="next">
        {% if posts.previous_page_number == 1 %}
          <a href="/">Newer &rarr;</a>
        {% else %}
          <a href="{% url post_archive posts.previous_page_number %}">Newer &rarr;</a>
        {% endif %}
      </li>
    {% endif %}
  </ul>
</div>


{% endblock %}
